@tailwind base;
@tailwind components;
@tailwind utilities;

/* jqueryで生成した要素及びFormで生成される要素にtailwindのスタイルを直接適用できないため、
例外的に本スタイルシートで予め作成しておく。 */

/* 検索ページのフィルタフォーム用のスタイル */
.tag_filter_item {
    @apply mb-1 px-3 py-1 bg-[#091F2C] text-sm text-[#E6E6E6] rounded-full whitespace-nowrap;
}

.tag_filter_item span {
    @apply mr-1;
}

.tag_filter_item svg {
    @apply w-3 h-3
}

/* Formオブジェクトから生成される要素用のスタイル */
.form_general {
    label {
        @apply font-bold text-[#E6E6E6];
    }

    input[type="text"], input[type="password"], textarea {
        @apply bg-[#2B2B2B] border-[#D2D2D2] focus:border-[#D2D2D2] rounded-md text-[#E6E6E6] w-[100%];
    }

    .errorlist {
        @apply text-[#FF0000];
    }
}