{% if widget.is_initial %}
    <div>
        <input type="{{ widget.type }}"
        name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
        {% if not widget.required %}
        <div>
            <input type="checkbox" name="{{ widget.checkbox_name }}"
            id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
            <label for="{{ widget.checkbox_id }}">削除する</label>
        </div>
        {% endif %}
    </div>
{% else %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% endif %}

