{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% tailwind_css %}
</head>

<body class="bg-[#171717]">
    <header class="bg-[#091F2C] h-14 w-screen fixed">
        <div class="max-w-[1120px] h-full mx-auto px-5 flex justify-between items-center">
            <div class="whitespace-nowrap flex-1 text-left">
                <a href="{% url 'index' %}" class="text-[#75B6E7] hover:text-[#278CDA] hover:underline decoration-[#278CDA]">トップ</a>
            </div>
            <div class="basis-[500px] mx-3">
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="記事を検索" name="keyword"
                        class="w-full bg-transparent border-[#D2D2D2] focus:border-[#D2D2D2] rounded-md text-[#E6E6E6]">
                </form>
            </div>
            <div class="whitespace-nowrap flex-1 text-right">
                <a href=""
                    class="text-[#75B6E7] hover:text-[#278CDA] hover:underline decoration-[#278CDA] mr-2">ログイン</a>
                <a href="" class="text-[#75B6E7] hover:text-[#278CDA] hover:underline decoration-[#278CDA]">新規登録</a>
            </div>
        </div>
    </header>
    <div class="h-14 mb-8">
        <!-- ヘッダースペース -->
    </div>
    <div id="main" class="max-w-[1120px] mx-auto mb-10 px-3">
        {% block main %}{% endblock main %}
    </div>
    {% block scripts %}{% endblock scripts %}
</body>

</html>