{% extends 'articleapp/base.html' %}

{% block title %}退会{% endblock title %}

{% block main %}

<div class="max-w-[640px] mx-auto">
    <h1 class="text-4xl font-bold text-[#E6E6E6] mb-10">退会</h1>
    <p class="text-[#E6E6E6] mb-4">退会すると、ユーザー情報・投稿が全て削除されます。<br>この処理は取り消しできません。</p>

    <form action="{% url 'deactivate' %}" method="post" class="form_general">
        {% csrf_token %}
        <input type="submit" value="退会する" class="bg-[#75B6E7] text-[#000000] hover:bg-[#278CDA] hover:underline font-bold rounded-md py-2 px-4 hover:cursor-pointer">
    </form>
</div>
{% endblock main %}