{% extends 'articleapp/base.html' %}

{% block title %}設定{% endblock title %}

{% block main %}
<h1 class="text-4xl font-bold text-[#E6E6E6] mb-10">設定</h1>
<ul class="flex text-lg text-[#75B6E7] mb-6">
    {% for item in menu_items %}
        {% if item.name == current_menu_item %}
            <li class="p-2 border-x border-t">{{ item.label }}</li>
        {% else %}
            <li class="p-2 border-b"><a href="{% url item.url_name %}">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
    <li class="grow border-b"></li>
</ul>
{% if current_menu_item == "profile" %}
    {% include "articleapp/snippets/settings_profile.html" with form=form %}
{% endif %}
{% endblock main %}