<form action="{% url 'user_settings_profile' %}"
method="post" class="form_general" enctype="multipart/form-data">
{% csrf_token %}

    <div class="text-[#E6E6E6] mb-6">
        <div class="mb-2">▼{{ form.profile_image.label_tag }}</div>
        <div class="flex items-center mb-2">
            <div class="mr-2">
                <img src="{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% endif %}"
                    alt="" class="w-20 h-20 rounded-full object-cover">
            </div>
            <div>{{ form.profile_image.as_widget }}</div>
        </div>
        
        {% if form.profile_image.errors %}
            <div>
                {{ form.profile_image.errors }}
            </div>
        {% endif %}
    </div>
    <div class="text-[#E6E6E6] mb-8">
        <div class="mb-2">▼{{ form.display_name.label_tag }}</div>
        <div class="mb-2">{{ form.display_name }}</div>
        {% if form.display_name.errors %}
            <div>
                {{ form.display_name.errors }}
            </div>
        {% endif %}
    </div>

    <input type="submit" value="更新" class="bg-[#75B6E7] text-[#000000] 
        hover:bg-[#278CDA] hover:underline font-bold rounded-md py-2 px-4">

</form>